@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: var(--primary);
  --color-background-light: var(--background);
  --color-sidebar-light: var(--sidebar);
  --color-surface-light: var(--surface);
  --color-border-light: var(--border);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);

  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: #fdfdfe;
  --sidebar: #f8f9fa;
  --surface: #ffffff;
  --border: #e5e7eb;
  --text-main: #111827;
  --text-secondary: #6b7280;
  --primary: #137fec;
}

.dark {
  --background: #282a42;
  --sidebar: #282a42;
  --surface: #30334e;
  --border: #30334e;
  --text-main: #f8fafc;
  --text-secondary: #94a3b8;
  --primary: #3b82f6;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-elegant::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-elegant::-webkit-scrollbar-thumb {
    background-color: var(--color-border-light);
    border-radius: 9999px;
  }
  .scrollbar-elegant::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

body {
  font-family: var(--font-display);
  @apply bg-background-light text-text-main;
}
